/*
  ========================================
  Eric Meyer's Reset
  ========================================
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Type selectors
  ========================================
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

img {
    object-fit: cover;
}

article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

article img {
    width: 500px;
    height: 420px;
}

h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5em;
}

h2 {
    font-size: 24px;

}

h3 {
    font-size: 1.17em;
}

p {
    margin: 1em 0;
    line-height: 1.8em;
}

footer {
    text-align: center;
}

/*
  ========================================
  General
  ========================================
*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.back-gradient-purple {
    background-image: linear-gradient(to bottom right ,#4d4c74, #7b3e79);
}
.back-grey {
    background: #fafafa;
}
.back-white {
    background: white;
}

.flex-equal {
    flex: 1;
}

.border-bottom-gray {
    border-bottom: 1px solid gray;
}
/*
  ========================================
  Others
  ========================================
*/
#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
#navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}
#navbar-nav > * {
    margin-left: 24px;
}
#navbar-nav a {
    color: #5ebd8b;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
#navbar-nav a:hover {
    color: #1F3D2D;
}

.section-padding {
    padding: 40px 0;
}

.article-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

#article-welcome {
    padding: 115px 0 35px 0;
}

#article-welcome h1{
    color: white;
}

#article-welcome p {
    color: #b2a1bc;
    font-weight: 500;
}

.flex-vertical-divider {
    width: 1px;
    background-color: gray;
    align-self: stretch;
    margin: 0 32px;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 44px;
    border-radius: 44px;
    margin: 12px 0;
    background: white;
    border: 1px solid;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.button-green {
    background: #5ebd8b;
    color: white;
    border-color: #5ebd8b;
}

.blog-info {
    margin: 0 60px;
}