/*
  ========================================
  Eric Meyer's Reset
  ========================================
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Type selectors
  ========================================
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

main {
    width: 960px;
    margin: 16px auto;
}

table {
    table-layout: fixed ;
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 240px;
}

td {
  border: 16px solid white;
  padding: 16px;
}

p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/*
  ========================================
  Others
  ========================================
*/
#item-1 {
    background: #fe5349;
}

#item-2 {
    background: #0c8871;
}

#item-3 {
    background: #b601ff;
}

#item-4 {
    background: #0dc1fd;
}

#item-5 {
    background: #08ca80;
}

#item-6 {
    background: #01f361;
}

#item-7 {
    background: #e8ff1d;
}

#item-8 {
    background: #fe7405;
}

#item-9 {
    background: #e52f2d;
}